.audio-recorder-container{
    display: inline;
    align-items: center;
    /* margin: 0 auto ; */
    justify-content: center;
    text-align: center;
    place-items: center;
    /* box-shadow: 10px 10px black; */
    
}