@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*{
    font-family: 'Roboto Mono', monospace;
}

body{
    background-color: #2B3467;
    margin: 0;
    padding: 2rem;
}

.title{
    color: #DAFFFB;
    margin: 0;
}